.sui-button.btn {
  transition-property: opacity;
}

.sui-button.btn:is(:hover, :focus-visible, :active) {
  transition-property: opacity, background-color, border-color, color, box-shadow, transform;
}

.sui-kbd {
  transition:
    translate 80ms ease-out,
    border-bottom-width 80ms ease-out;
}

.sui-kbd:active {
  translate: 0 1px;
  border-bottom-width: var(--border);
}

.sui-status--ping {
  @apply relative;
}

.sui-status--ping::after {
  @apply absolute inset-0 animate-ping rounded-full bg-current opacity-75;
  content: '';
}
