{
  "printWidth": 145,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "quoteProps": "as-needed",

  "semi": true,
  "trailingComma": "all",

  "bracketSpacing": true,
  "bracketSameLine": false,

  "arrowParens": "always",
  "endOfLine": "lf",

  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 140,
        "parser": "angular"
      }
    },
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "printWidth": 200,
        "singleQuote": true
      }
    }
  ]
}
