pg-example-code .hljs-comment,
pg-example-code .hljs-quote {
  color: var(--sui-code-syntax-comment);
  font-style: italic;
}

pg-example-code .hljs-keyword {
  color: var(--sui-code-syntax-keyword);
}

pg-example-code .hljs-selector-tag,
pg-example-code .hljs-name {
  color: var(--sui-code-syntax-tag);
}

pg-example-code .hljs-tag {
  color: var(--sui-code-syntax-punctuation);
}

pg-example-code .hljs-attr,
pg-example-code .hljs-property {
  color: var(--sui-code-syntax-attribute);
}

pg-example-code .hljs-string,
pg-example-code .hljs-regexp {
  color: var(--sui-code-syntax-string);
}

pg-example-code .hljs-number,
pg-example-code .hljs-literal {
  color: var(--sui-code-syntax-number);
}

pg-example-code .hljs-title,
pg-example-code .hljs-type,
pg-example-code .hljs-built_in {
  color: var(--sui-code-syntax-type);
}

pg-example-code .hljs-variable,
pg-example-code .hljs-template-variable {
  color: var(--sui-code-syntax-expression);
}
