<sui-tabs ariaLabel="Example source" variant="lift" [(value)]="activeTab">
  <ng-template suiTab value="html" label="HTML">
    <sui-code>
      @for (line of htmlLines(); track $index) {
        <pre suiCodeLine [prefix]="$index + 1"><code [innerHTML]="line"></code></pre>
      }
    </sui-code>
  </ng-template>

  <ng-template suiTab value="typescript" label="TypeScript">
    <sui-code>
      @for (line of typescriptLines(); track $index) {
        <pre suiCodeLine [prefix]="$index + 1"><code [innerHTML]="line"></code></pre>
      }
    </sui-code>
  </ng-template>

  @if (cssLines().length) {
    <ng-template suiTab value="css" label="CSS">
      <sui-code>
        @for (line of cssLines(); track $index) {
          <pre suiCodeLine [prefix]="$index + 1"><code [innerHTML]="line"></code></pre>
        }
      </sui-code>
    </ng-template>
  }
</sui-tabs>
