.sui-button.btn {
  box-shadow: none;
  text-shadow: none;
  transition-property: opacity;
}

.sui-button.btn:not(.sui-button--disabled):is(:hover, :focus-visible, :active) {
  box-shadow: none;
  transition-property: opacity, background-color, border-color, color, transform;
}

.sui-button.btn.sui-button--disabled {
  cursor: not-allowed;
  pointer-events: auto;
  transform: none;
  translate: none;
  animation: none;
  transition-property: opacity;
}
