.sui-button.btn {
  box-shadow: none;
  text-shadow: none;
  transition-property: opacity;
}

.sui-button.btn:is(:hover, :focus-visible, :active) {
  box-shadow: none;
  transition-property: opacity, background-color, border-color, color, transform;
}
