.sui-input-group-addon {
  border: var(--border) solid var(--color-base-300);
  background-color: var(--color-base-200);
  color: var(--color-base-content);
}

@media (width >= 48rem) {
  .sui-input-group--responsive {
    --join-v: 0;
    --join-h: 1;
    flex-direction: row;
  }
}
