.sui-kbd {
  /** Background of a Keyboard Key label. */
  --sui-kbd-background: var(--color-base-200);
  /** Text color of a Keyboard Key label. */
  --sui-kbd-color: var(--color-base-content);

  color: var(--sui-kbd-color);
  background-color: var(--sui-kbd-background);
}
